body{
  text-align:center;
}
.sec,.min, .hour{
  line-height:45px;
  position: relative;
  transform-origin:bottom;
}
@keyframes sec_anim {
  from{transform:rotateZ(0deg);}
  to{transform:rotateZ(360deg);}

}
@keyframes min_anim {
  from{transform:rotateZ(0deg);}
  to{transform:rotateZ(360deg);}

}
@keyframes hour_anim {
  from{transform:rotateZ(0deg);}
  to{transform:rotateZ(360deg);}

}
.clock{
  width:480px;
  height:480px;
  background:#ffffff;
display: inline-block;
border-radius:50%;
  border:1px solid white;
  padding:20px;

}
.sec{
  height:250px;
  width:2px;
  left:242.5px;
  background-color:#ff0000;
    animation:sec_anim 60s steps(60,end) infinite;
}
.min{
  height:250px;
  width:6px;
  left:250px;
  background-color:black;
  top:-250px;
  z-index:2;
  animation:min_anim 3600s linear infinite;
}
.hour{
  height:180px;
  width:10px;
  left:240px;
  top:-430px;
  background-color:black;
  z-index:1;
    animation:hour_anim 64000s linear infinite;
}
img{
  border:6px solid black;
  border-radius: 50%;
  height:500px;
  width:520px;
  height-down:10px;
  display:inline-block;
  position:relative;
  left:540px;
  top:-20px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5),0 6px 20px 0 rgba(0,0,0,0.19);
}
